:root {
	--dumpprogress-barwidth: 1.2em;
	--mem-green: #83c53d;
	--mem-red: #ff756b;
	--mem-yellow: #ffc001;
	--mem-darkblue: #2b3648;
	--mem-lightblue: #b9d7e3;
}

#dumpprogress {
	width: 100%;
	position: relative;
	background: var(--mem-darkblue);
	transition: height 1s;
	overflow-y: hidden;
}
#dumpprogress::after {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(#eee 0, #fff calc(.15 * var(--dumpprogress-barwidth)), #fff calc(.58 * var(--dumpprogress-barwidth)), #ccc var(--dumpprogress-barwidth));
  mix-blend-mode: multiply;
}
#dumpprogress.done {
	background: var(--mem-green);
	height: var(--dumpprogress-barwidth);
}
#dumpprogress.halfdone {
	height: var(--dumpprogress-barwidth);
}
#dumpprogress.stopped {
	filter: grayscale(100%);
}
#dumpprogress.error {
	background: var(--mem-red) !important;
}
#dumpprogress.error * {
	opacity: 0.1;
}

@keyframes bar-expand {
	0%   {height: 0em;}
	100% {height: var(--dumpprogress-barwidth);}
}

#progresspadding,
.scanprogress {
	height: var(--dumpprogress-barwidth);	
	animation: bar-expand .25s ease-out forwards;
	left: 0;
	top: 0;
}
.scanprogress {
//	position: absolute;
	background: var(--mem-lightblue);
	transition: width .5s;
}

#downprogress {
	left: 0;
	top: 0;
	height: var(--dumpprogress-barwidth);	
	background: var(--mem-yellow);
	transition: width .5s;
}

.done .scanprogress,
.done #downprogress {
	display: none;
}